PROVIDERINFO FILE : /etc/CCcam/CCcam.providers

SERVER LISTEN PORT : 12000
ALLOW TELNETINFO: yes
ALLOW WEBINFO: yes
WEBINFO USERNAME :admin
WEBINFO PASSWORD :admin
TELNETINFO USERNAME :root
TELNETINFO PASSWORD :dreambox
TELNETINFO LISTEN PORT : 16000
WEBINFO LISTEN PORT : 16001
ZAP OSD TIME :0
OSD USERNAME :root
OSD PASSWORD :dreambox
OSD PORT :80
SHOW TIMING : yes
DEBUG : no
NEWCAMD CONF : no
SHOW EXTENEDED CLIENT INFO : yes
MINI OSD : no
CHANNELINFO FILE : /var/etc/CCcam.channelinfo
PROVIDERINFO FILE : /var/etc/CCcam.providers
CAID PRIO FILE : /var/etc/CCcam.prio
LOG WARNINGS : /tmp/warnings.txt 
SOFTKEY FILE : /var/keys/SoftCam.Key
AUTOROLL FILE : /var/keys/AutoRoll.Key
STATIC CW FILE : /var/keys/constant.cw
#BOXKEY: 
#SMARTCARD CLOCK FREQUENCY: /dev/sci0 6800000
DVB API: -1
